.container {
	width: 90%;
	height: 25px;
	padding:10px 0 20px 10px;
	display: block;
	margin: 2px 0;
	
	border-bottom: 1px solid rgb(81.2%, 59.6%, 38.6%);
	
	cursor: pointer;
	&:hover {
		background-color: white;
	}
}
.highlighted {
	background-color: blanchedalmond;
}

.category {
	font-size: 0.8em;
	color: rgb(61.6%, 61.6%, 61.6%);
}

.title {
	margin: 5px 0 2px 0;
	color: rgb(34.3%, 34.3%, 34.3%);
	em {
		font-weight: bold;
		font-style: normal;
		color: black;
	}
}