.container {
	width: 90%;
	margin:1em auto -3em auto;
	display: block;
	
	min-height: 40px;
	
	padding: 15px;
	
	
	// background-color:  rgb(91.7%, 88.8%, 92.5%);
	
	input {
		font-size: 20px;
		padding: 5px 10px;
		margin: 10px;
		border: 1px solid #ccc;
		height: 40px;
		width: 50%;
		
		box-shadow: 3px 12px 8px -7px rgba(204,204,204,1);
	}
}