.acContainer {
	width:80%;
	margin: 0 auto;
	
	border: 1px solid #f5f5f5;
	box-shadow: 3px 12px 8px -7px rgba(204,204,204,1);
	
	background-color: rgb(99.1%, 96.4%, 91.7%);
}
.acMainColumn {
	width: 70%;
	display: inline-block;
	vertical-align: top;
}
.acSidebarColumn {
	width: 28%;
	vertical-align: top;
	display: inline-block;
}

.notification {
	width: 95%;
	margin: 1em auto;
	background-color: aliceblue;
	
	padding: 1em;
	
	text-align: center;
	color: dimgrey;
}

body {
	background-color: rgb(65.3%, 68.5%, 73.7%);
}